@charset "utf-8";

:root {
  --bg-main-color: #000;
  --bg-sec-color: #fff;
}

/*--- Resetando CSS padrão dos navegadores ---*/
* {
  -webkit-font-smoothing: antialiased;
  color: var(--bg-main-color);
  font-weight: normal;
  font-size: 1em;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/*--- Estilização do <header> ---*/
.header {
  border-bottom: 1px solid #ededed;
  height: 60px;
}

.header > div {
  height: inherit;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a,
.header__logo img {
  display: block;
}

.header__logo img {
  height: 16px;
}

/*--- Estilo do menu principal ---*/
.header__nav {
  height: 100%;
}

.header__nav ul {
  display: flex;
  height: inherit;
}

.header__nav ul li {
  margin-left: 15px;
}

.inside-page {
  border-bottom: 2px solid #000;
}

.header__nav ul a {
  font-family: "New York Small", -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__nav ul a:hover {
  color: #888;
}

/*--- Botão de menu mobile ---*/
.btn-mobile {
  display: none;
  background-color: transparent;
  border: none;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}

.btn-mobile > div {
  width: 20px;
  height: 2px;
  background-color: var(--bg-main-color);
  transition: transform 0.3s, opacity 0.45s;
}

.btn-mobile > div:not(:last-child) {
  margin-bottom: 5px;
}

.btn-mobile.active > div:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}

.btn-mobile.active > div:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.btn-mobile.active > div:last-child {
  transform: rotate(-45deg);
  position: relative;
  bottom: 7px;
}

/*--- Alinhamento do conteúdo principal ---*/
main,
.highlighted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px;
}

.highlighted {
  margin-top: 20px;
}

.highlighted__title {
  font-family: "New York Extra Large", -apple-system, sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1.2em;
  text-align: center;
  margin: 20px 0;
}

.highlighted__title a:hover {
  text-decoration: underline;
}

.highlighted__caption {
  font-family: "SF Mono", -apple-system, sans-serif;
  font-size: 0.9em;
  line-height: 1.6em;
  text-align: center;
  max-width: 70%;
}

.content__divisor {
  border: none;
  height: 2px;
  background: #000;
  width: 80%;
  margin: 20px;
}

/*--- All articles ---*/
.articles {
  width: 80%;
}

.articles h4 {
  font-family: "New York Extra Large", -apple-system, sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.articles > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}

.article {
  max-width: 300px;
}

.article:hover .article__title {
  text-decoration: underline;
}

.article__title {
  font-family: "SF Pro Display", -apple-system, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  margin-top: 10px;
  line-height: 1.2em;
}

/*--- Footer style ---*/
footer span,
footer p,
footer a {
  color: #fff;
}

.footer {
  background-color: #000;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__keywords {
  font-family: "SF Pro Text", -apple-system, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 0.9em;
}

.footer__keywords span:not(:last-child) {
  margin-right: 20px;
}

.footer__keywords span:nth-child(odd) {
  font-weight: 900;
  font-family: "SF Pro Text", -apple-system, sans-serif;
}

.footer__site-description {
  max-width: 500px;
  margin: 70px 0px;
  font-family: "New York Small", -apple-system, sans-serif;
  font-weight: 500;
}

.footer__site-description h4 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.footer__site-description p {
  line-height: 1.6em;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}

.social-media a {
  font-family: "SF Pro Text", -apple-system, sans-serif;
  text-decoration: underline;
  margin: 10px;
}

.social-media a:hover {
  color: #ccc;
}

.footer__rights {
  font-family: "SF Pro Text", -apple-system, sans-serif;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 0.8em;
}

/*--- Regras de responsividade ---*/
@media screen and (max-width: 600px) {
  .header > div {
    width: 100%;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__nav ul {
    display: none;
  }

  .header__nav ul li {
    border-bottom: 1px solid #ededed;
    margin: 0;
  }

  .header__nav ul a {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .btn-mobile.active ~ ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  }

  .btn-mobile {
    display: block;
  }

  .highlighted__spot img {
    max-width: 100vw;
  }

  .content__divisor {
    width: 100vw;
  }

  .highlighted__title {
    max-width: 95%;
  }

  .highlighted__caption {
    max-width: 80%;
  }

  .articles > div {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer__site-description {
    max-width: 85%;
  }
}
